---
import projects from '../data/projects.json';

interface Technology {
  name: string;
  github: string | null;
}

interface Project {
  id: number;
  title: string;
  type: string;
  status: string;
  statusText: string;
  description: string;
  technologies: Technology[];
  link: string;
  linkText: string;
}
---

{projects.map((project: Project) => (
  <div class="card bg-base-100 shadow-sm">
    <div class="card-body">
      {project.status && (
        <span class={`badge badge-xs ${project.status === 'reciente' ? 'badge-warning' : 'badge-error'}`}>
          {project.statusText}
        </span>
      )}
      <div class="flex justify-between">
        <h2 class="text-2xl font-bold">{project.title}</h2>
        <span class="text-lg text-primary">{project.type}</span>
      </div>
      <p class="text-sm text-base-content/60 mt-2">
        {project.description}
      </p>
      <ul class="mt-2 flex flex-col gap-2 text-xs">
        {project.technologies.map((tech: Technology) => (
          <li class="flex items-center justify-between">
            <span>
              <i class="fa-solid fa-code text-success mr-2"></i>
              <span>{tech.name}</span>
            </span>
            {tech.github && (
              <a href={tech.github} target="_blank" class="btn btn-xs btn-outline btn-success ml-2">
                <i class="fa-brands fa-github"></i>
              </a>
            )}
          </li>
        ))}
      </ul>
      <div class="mt-2">
        <a href={project.link} target="_blank" class="btn btn-primary btn-block">
          <i class="fa-solid fa-globe"></i>
          {project.linkText}
        </a>
      </div>
    </div>
  </div>
))}

